.loginForm {
  max-width: 300px;
}
.loginFormForgot {
  float: right;
}
.loginFormButton {
  width: 100%;
}

.loginFormInput {
  :global {
    .ant-input-prefix {
      background-color: transparent;
    }
  }
}
